{% extends "base.html" %}

{% block title %}Choir Members{% endblock %}

{% block content %}
<div class="container">
    <h2>Choir Members</h2>
    <div class="row">
        {% for user in users %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.get_full_name }}</h5>
                    <p class="card-text">
                        Username: {{ user.username }}<br>
                        Email: {{ user.email }}<br>
                        {% if user.is_staff %}
                            <span class="badge bg-primary">Admin</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 